<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页</title>
</head>

<body>
    {{ include './header.html'}}
    <h1>{{name}}</h1>

    {{ include './footer.html'}}

</body>

</html> -->



<!-- 去继承layout定义的 -->
{{ extend './layout.html' }}

<!-- 填静态的坑 -->
{{ block 'css' }}
	<link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
{{ /block }}

<!-- 我要填写自己的坑 -->
{{ block 'content' }}

<div>
    <h1>我是index.html页面，我要填写自己的坑</h1>
</div>

{{ /block }}


<!-- 填 js 脚本的坑 -->
{{ block 'scripts' }}
	<script src="/node_modules/jquery/dist/jquery.js"></script>
  <script src="/node_modules/bootstrap/dist/js/bootstrap.js"></script>
{{ /block }}
