<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页</title>
    <style>
        li{
            list-style: none;
        }
    </style>
</head>
<body>
    <ul>
        {{ each dataList}}
        <li> 
            <span>{{ $value.name}} : {{ $value.cont }}</span>
            <span><a href="/delete?id={{$value.id}}">删除</a></span>
            <span><a href="/upDate?id={{$value.id}}">修改</a></span>
        </li>
        {{ /each }}
    </ul>
    <a href="/post">发表</a>
</body>
</html>