<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>更新留言</title>
</head>
<body>
    <form action="upDateList" method="post">
        名字: <input type="text" name='name' value="{{ data.name }}">

        <br>

        内容: <input name="cont" value="{{ data.cont }}"></input>
        <input name="id" style="display:none" value="{{ data.id }}"></input>

        <br>
        <br>

        <button type="submit">提交</button>
    </form>
</body>
</html>